$iu-red: #990000;
$info-blue: rgb(66, 139, 162);

*{
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif
}
header *, .iu-name{
	font-family:  "BentonSansCompBold", Arial, Helvetica, sans-serif !important;
}
a:hover, a:active, a:focus{
	text-decoration: none;
	cursor: pointer;
}
li{
	list-style: none;
}
.full-width{
	width: 100%;
}
.hide{
	display: none !important;
}

/* ------------------- header --------------------- */
.iu-bar{
	background: #7A1705;
	border-top: 6px solid $iu-red;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
}
.iu-logo{
	position: absolute;
}
.iu-name{
	margin: 10px 0 10px 80px;
	font-size: 18px;
	letter-spacing: 0.2em;
	font-weight: 300;
}

header{
	background-color: $info-blue;
	background-image: url(../image/bg.png);
	color: white;
}
header .container{
		position: relative;
}
.header-h1{
	padding: 30px 0 10px;
	text-transform: uppercase;
	font-size: 34px;
}
.header-h2{
	position: absolute;
	right: 0;
	bottom: 10px;
	font-size: 20px;
}
.header-social{
	position: absolute;
	top: 10px;
	right: 0;
	width: 210px
}
body{
	background: rgb(246, 248, 248);
}

.card{
	padding: 10px;
	background: #FFF;
	margin-bottom: 10px;
	border: 1px solid #aaa;
}
.button-sidebar{
	width: 100%;
	color: #FFF;
	font-size: 20px;
	border: none;
	margin-bottom: 10px;
}
.button-content{
	color: #FFF;
	border: none;
}
.button-primary{
	padding: 15px;
	background: $iu-red;
}
.button-secondary{
	padding: 8px;
	background: $info-blue;
}

/* ------------------- footer --------------------- */
footer{
	border-top: 5px solid $iu-red;
	background: #fff;
	padding: 40px 0 10px;
	color: $iu-red;
}
.footer-logo{
	display: inline-block;
	vertical-align: middle;
}
.footer-text{
	display: inline-block;
}
.footer-list{
	float: right;
}
.footer-item{
	display: inline-block;
	margin-left: 10px;
}
.footer-item+.footer-item:before{
	content: '|';
	margin-right: 10px;
}
